.brand100{
    color: var(--brand100);
}
.brand200{
    color: var(--brand200);
}
.gray100{
    color: var(--gray100);
}
.gray200{
    color: var(--gray200);
}
.gray300{
    color: var(--gray300);
}
.gray400{
    color: var(--gray400);
}
.gray500{
    color: var(--gray500);
}
.gray600{
    color: var(--gray600);
}
.gray700{
    color: var(--gray700);
}
.gray800{
    color: var(--gray800);
}
.gray900{
    color: var(--gray900);
}
.alert100{
    color: var(--alert100);
}
.alert200{
    color: var(--alert200);
}
.sucess100{
    color: var(--sucess100);
}