@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --brand100: hsl(230, 57%, 50%);  /* #364FC7 */
  --brand200: hsl(230, 68%, 54%);  /* #3B56D9 */
  --gray100: hsl(210, 11%, 15%);   /* #212529 */
  --gray200: hsl(210, 10%, 23%);   /* #343A40 */
  --gray300: hsl(210, 9%, 31%);    /* #495057 */
  --gray400: hsl(210, 7%, 56%);    /* #868E96 */
  --gray500: hsl(210, 11%, 71%);   /* #ADB5BD */
  --gray600: hsl(210, 16%, 93%);   /* #E9ECEF */
  --gray700: hsl(210, 17%, 95%);   /* #F1F3F5 */
  --gray800: hsl(210, 17%, 98%);   /* #F8F9FA */
  --gray900: hsl(200, 100%, 99%);  /* #FCFEFF */
  --alert100: hsl(349, 57%, 50%);  /* #C73650 */ 
  --alert200: hsl(349, 69%, 55%);  /* #DB3C58 */
  --sucess100: hsl(162, 88%, 26%); /* #087F5B */

  --font-size-1: 32px;
  --font-size-2: 24px;
  --font-size-3: 20px;
  --font-size-4: 16px;
  --font-size-5: 14px;

  --font-weight-1: 100;
  --font-weight-2: 200;
  --font-weight-3: 300;
  --font-weight-4: 400;
  --font-weight-5: 500;
  --font-weight-6: 600;
  --font-weight-7: 700;
  --font-weight-8: 800;
  --font-weight-9: 900;

  --line-height: 150%;

  --width-fullPercent: 100%;
  --width-halfPercent: 50%;
  --width-fullvw: 100vw;
  --height-fullvh: 100vw;
  --width-halfvw: 50vw;

  --radius-1: 4px;
  --radius-50: 50%;

  --pointer: pointer;

  --animation-duration: 0.4s;
  --animation-type: ease;
}

.container{
  width: 60vw;
  margin: 0 auto;
}
.borderSection{
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  padding: 44px 24px;
}
.backgroundFeed{
  background-color: var(--gray800);
}
.font-family1{
  font-family: 'Inter', sans-serif;
}
:disabled{
  opacity: 0.5;
}
body {
  font-family: 'Inter', sans-serif;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

span{
  color: var(--brand100);
}